*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* start main-content */

.main-content{
	width: 1000px;
	background:#80bfff;
  margin: 0 auto;
	position: relative;}

/* end main-content */



/* start-row */

.row{

	width: 1200px;
	height: 400px;
	margin:0 auto;}


           /* start-box */
.first-box , .third-box{
	display: inline-block;
	position: relative;
	left: 50px;
	top: 20px
}


.second-box{
	display: inline-block;
	position: relative;
	left: 50px;
	top: 20px
}



            /* end-box */

/* end-row */

.discount{
	position:absolute;
	right: 0;
	top: 0;
	background:  #ff3333;
}
