*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.main-content{
	width: 1000px;
	background:#e6ffe6;
	height: 800px;
	margin: 0 auto;

}

.first-row{
	width: 950px;
	height: 400px;
	background: #000;
	margin: 0 auto;
}
