*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* start main-content */

.main-content{
	width: 1000px;
	background:#80bfff;
  margin: 0 auto;
	position: relative;}

/* end main-content */



/* start-row */

.row{

	width: 1200px;
	height: 400px;
	margin:0 auto;}


           /* start-box */
.box{
	display: inline-block;
	position: relative;
	left: 50px;
	top: 20px
}




            /* end-box */

/* end-row */


/* discount-code */

.discount{
	position:absolute;
	right: 0;
	top: 0;
	background:  #ff3333;
}


#discount-five{
	background:#1aff1a;
}
/* /discount-code */


/* heart */
.heart{
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 20px;
}
.box:hover .heart{
	display: block;
}
/* /heart */
